Задача 1

In [2]:
scores = [90, 75, 40, 100, 65]

def average_score(scores):
    total_scores =sum(scores)
    average_score = total_scores / len(scores)
    for s in scores:
        if s < 50:
            average_score -=5
    return average_score

        




print(average_score(scores))

69.0

Задача 2

In [1]:
hours = [38, 42, 40, 45]

def teacher_salary(hours):
    total_salary = 0
    for h in hours:
        if h >40:
            s = h*1000*1.2
        else:
            s = h*1000
        total_salary += s     
    return total_salary           
 

print(teacher_salary(hours))

182400.0

Задача 3

In [2]:
distances = [120, 340, 280, 410]

def fuel_cost(distances):
    total = 0
    for d in distances:
        if d >300:
            t = d*0.3*60
        else:
            t = d*0.1*60
        total += t     
    return total 

print(fuel_cost(distances))

15900.0

Задача 4

In [1]:
deliveries = {
  "Посылка_1": 5,
  "Посылка_2": 8,
  "Посылка_3": 12,
  "Посылка_4": 3,
  "Посылка_5": 15
}

def delivery_analysis(deliveries):
    total = 0
    for d, q in deliveries.items():
        if q >10:
            dost = 500
        else:
            dost = 300
        total += dost     
    return total

print(delivery_analysis(deliveries))

1900

Задача 5

In [2]:
results = {
  "Анна": 90,
  "Иван": 40,
  "Мария": 75,
  "Пётр": 60,
  "Ольга": 55,
  "Дмитрий": 100
}

def course_pass_rate(results):
    s = []
    n_s = []
    for n, r in results.items():
        if r >=60:
            s.append(n)
        else:
            n_s.append(n)

    result = {
        "Студенты, сдавшие курс": s,
        "Студенты, не сдавшие курс": n_s
    }
    return result        
 

print(course_pass_rate(results))

{'Студенты, сдавшие курс': ['Анна', 'Мария', 'Пётр', 'Дмитрий'], 'Студенты, не сдавшие курс': ['Иван', 'Ольга']}